params {
    help = false

    indir = false
    paired = true
    spacer = "_R"
    suffix = ".fastq.gz"

    outdir = false

    k = 17
    median_abund = 20
    min_abund = 5

    cpus = 4
    memory_gb = 4

    container__khmer = "quay.io/biocontainers/khmer:3.0.0a3--py38h94ffb2d_3"
    container__python = "python:3.9.17"
    container__python_plotting = "quay.io/hdc-workflows/python-plotting:b50a842"

}